@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Varela+Round&display=swap');

html{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    color: #343533;;
    word-spacing: 5px;
    font-size: 16px;
}

#navigation {
    width: 100%;
    height: 70px;
    background-color: azure;
    box-shadow: 3px 3px 10px gray;
    position: sticky;
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    height: 100%;
}

#navigation ul li {
    float: left;
    height: 100%;
    padding: 0px 10px;
}

#navigation ul li a {
	display: block;
	text-align: center;
    text-decoration: none;
    margin: 25px 28px;
    color: #343533;
    font-size: 16px;
}

#navigation ul li:hover a:not(.active){
    font-weight: bold;
}

#navigation ul li.active-tab {
    background-color: #343533;
}

#navigation ul li.active-tab a {
    color: azure;
    font-weight: bold;
}

section{
    margin: 0;
    width: 100%;
    height: fit-content;
}

#who-am-i{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#who-am-i #introduction {
    padding-right: 150px;
    width: 65%;
    height: 100%;
    text-align: left;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    column-gap: 15px;
}

#who-am-i #images {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#who-am-i #introduction p .name {
    font-size: 50px;
    font-weight: bold;
    font-size: 50px; 
    line-height: 90px;
    letter-spacing: 2px;
}

#who-am-i #images img{
    height: 287px;
    border-radius: 50%;
}

#contact-button{
    margin-top: 25px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 15px 25px;
    border: none;
    background-color: #343533;
    color: #ffffff;
    cursor: pointer;
}

#contact-button:hover{
    background-color: #fff;
    color: #343533;
    box-shadow: 1px 4px 1px #343533;
}

#skills{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#skill-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #343533;
    color:#fff;
}

#skills-tb{
    display: grid;
    width: 65%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
    background-color: aliceblue;
}

#skills-tb div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343533;
}

#skills-tb div:hover{
    background-color: #343533;
    color: aliceblue;
}

#certifications{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    padding: 0;
}

#certifications-header{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

#certifications-container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#certifications-list {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cert {
    width: 100%;
    height: 100px;
    background-color: rgb(230, 240, 249);
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    box-sizing: border-box;
}
.cert .cert-label {
    color: #343533;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100%;
    text-align: left;
    align-content: center;
}

.cert.active {
    background-color: #343533;
}

.cert.active .cert-label{
    color: #fff;
}

#certifications-list:has(.cert:hover:not(.active)) .cert.active {
  background-color: rgb(230, 240, 249);
}

#certifications-list:has(.cert:hover:not(.active)) .cert.active .cert-label{
  color: #343533;
}

.cert:hover:not(.active){
    background-color: #343533;
}

.cert:hover:not(.active) .cert-label{
    background-color: #343533;
    color: #fff;
}

#certifications-details {
    width: 65%;
    background-color: aliceblue;
}

.course-completion {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 0 30px;
    padding: 0;
}

.course-completion li a {
    text-decoration: none;
    font-size: 16px;
    color: #343533;
}