@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Varela+Round&display=swap');

html{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    color: #343533;;
    word-spacing: 5px;
    font-size: 16px;
}

#navigation {
    width: 100%;
    height: fit-content;
    background-color: azure;
    box-shadow: 3px 3px 10px gray;
    position: sticky;
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

#navigation ul li {
    float: left;
}

#navigation ul li a {
	display: block;
	text-align: center;
    text-decoration: none;
    margin: 15px 28px;
    color: #343533;
    font-size: 16px;
}

#navigation ul li:hover a:not(.active){
    font-weight: bold;
}

#navigation ul li.active-tab {
    background-color: #343533;
}

#navigation ul li.active-tab a {
    color: azure;
    font-weight: bold;
}

section{
    margin: 0;
    width: 100%;
    height: fit-content;
}

#who-am-i{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}

#who-am-i #introduction {
    width: 60%;
    height: 100%;
    text-align: right;
    line-height: 1.5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

#who-am-i #images {
    display: flex;
    align-items: center;
    justify-content: center;

}

#who-am-i #introduction p .name {
    font-size: 50px;
    font-weight: bold;
    font-size: 50px; 
    line-height: 90px;
    letter-spacing: 2px;
}

#who-am-i #images img{
    height: 250px;
    border-radius: 50%;
}

#contact-button{
    margin-top: 30px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    background-color: #343533;
    color: #ffffff;
    cursor: pointer;
}

#contact-button:hover{
    background-color: #fff;
    color: #343533;
    box-shadow: 1px 4px 1px #343533;
}

#skills{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#skill-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: #343533;
    color:#fff;
}

#skills-tb{
    display: grid;
    width: 65%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    box-sizing: border-box;
    background-color: aliceblue;
}

#skills-tb div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343533;
}

#skills-tb div:hover{
    background-color: #343533;
    color: aliceblue;
}

